<div class="row">
    <div class="col-md-12">
        <label>年缴费期间选项</label>
        <div class="title-line"></div>
        <div ng-repeat="yearTermValue in config.termConfig.yearConfig">
            <input type="checkbox" name="config.termConfig.yearConfig" value="{{yearTermValue}}"
                   ng-checked="termConfigTarget.yearConfig.indexOf(yearTermValue) > -1"
                   ng-click="toggleSelection('0',yearTermValue)">{{yearTermValue}}年
        </div>
        <input type="checkbox" name="ageConfig"  ng-click="toggleSelection('2',termConfigTarget.ageConfig)"
                ng-checked = "termConfigTarget.ageConfig">缴至周岁
    </div>
</div>