#apply .title-line {
    margin:2px;
    padding:0;
    width:100%;
    height:1px;
    background-color:#b9b9b9;
    overflow:hidden;
}
#premium .title-line {
    margin:2px;
    padding:0;
    width:100%;
    height:1px;
    background-color:#b9b9b9;
    overflow:hidden;
}

#premium .title-block {
    margin:2px;
    padding:0;
    width:100%;
    height:5px;
    overflow:hidden;
}
#premium .label-lg-center {
    width: 100%;
    height: 30px;
    padding-left: 0px;
    font-size:11pt;font-family:Microsoft YaHei;
}
#premium .label-sm-center {
    width: 90%;
    height: 30px;
    padding-left: 1px;
    padding-bottom: 2px;
    padding-top:2px;
    font-size:10pt;font-family:Microsoft YaHei;
    display:block;
}

#peekpanel .btn-center {
    padding-left: 80px;
    padding-bottom: 2px;
}

#peekpanel .right {
    padding: 20px;
}

#premium .right {
    padding-left: 30px;
    padding-bottom: 32px;

}

#premium .payModeSingle {
    background-color: #006600;
}