.beneficiary-group {
	
	border:  1px;
}

.beneficiary-group-action {
	padding-left:28px;
	font-size: xx-large;
}

.beneficiary-list {
	
	margin-top: 20px;
}

.beneficiary-action.move-toggle {

	display: block;
	font-size: small;
}

.id-type-select {
	
	width: 120px;
}
.btn:after {
	font-family: "Glyphicons Halflings";
	content: "\e114";
	float: right;
	margin-left: 15px;
}
/* Icon when the collapsible content is hidden */
.btn.collapsed:after {
	content: "\e080";
}

.bottom-line {
	margin:15px;
	padding:0;
	width:100%;
	height:1px;
	background-color:#b9b9b9;
	overflow:hidden;
}
.beneficiary-group-title {
	margin-top: -25px;
}
.add-beneficiary {
	padding-left: 40px;
}