<div class="container-fluid">
	<div class="row">
		<div class="col-md-10">
			<button class="btn btn-primary" ng-click="addGroup()">增加顺位（+）</button>
			<input type="hidden" value="4" ng-model="maxGroupCount"/>
		</div>
	</div>
	<br/></br>
	<div ng-repeat="beneficiaryGroup in beneficiaryGroups">
	 <beneficiary-group index="$index" groups-length="beneficiaryGroups.length" group="beneficiaryGroup" remove-group="removeGroup($index)"></beneficiary-group>
	</div>
	<div>
		<button ng-if="beneficiaryGroups.length > 0" class="btn btn-primary" ng-click="saveBeneficiary()">保存</button>
	</div>
</div>