<table>
    <thead>
    <tr>
        <th width="200">受益人信息（{{counter}}人）</th>
    </tr>
    </thead>
    <tbody>
    <input type="button" value="增加受益人" ng-click="addRow()"/>最大人数：<input type="text" ng-model="maxCount" >
    <tr ng-repeat="rowContent in rows track by $index">顺位组分配比例：<input type="text" ng-model="groupAbortion" >
    <tr ng-repeat="rowContent in rows track by $index">
        <td><beneficiary-group save-beneficiary="saveBeneficiary($index)" delete-beneficiary="removeBeneficiary($index)" row-content="rowContent"></beneficiary-group></td>
    </tr>
    </tbody>
</table>