<div class="container-fluid">
	<div class="row">
		<div class="col-md-1 form-group" >
			<div class="row">
				<div class="col-md-12 form-group" >
				</div>
			</div>
		</div>
	</div>
	<div ng-repeat="beneficiaryGroup in beneficiaryGroups">
	 <beneficiary-group index="$index" groups-length="beneficiaryGroups.length" group="beneficiaryGroup" remove-group="removeGroup($index)"></beneficiary-group>
	</div>
	<div class="row">
		<div class="col-md-12">
			<button  ng-click="addGroup()"> <i class="fa fa-user-plus fa-2x"></i></button>
			<input type="hidden" value="4" ng-model="maxGroupCount"/>
			<button ng-if="beneficiaryGroups.length > 0" class="btn btn-primary" ng-click="saveBeneficiary()">保存</button>
		</div>
	</div>
</div>