<div class="form-inline">
    <form name="myForm">
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only"></label>
                <input class="form-control" placeholder="请填写姓名：" type="text" name="insuredName" ng-model="insured.name"  />
                <div ng-show="!isChecked || !myForm.insuredName.$invalid">&nbsp;</div>
                <div class="alert-danger" ng-show="isChecked && myForm.insuredName.$invalid">
                    <small  ng-show="myForm.insuredName.$error.required">
                        姓名必填
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only"></label>
                <input class="form-control"  type="text" placeholder="请填写工作单位" name="insuredUnit" ng-model="insured.unit" />
                <div ng-show="!isChecked || !myForm.insuredUnit.$invalid ">&nbsp;</div>
                <div class="alert-danger" ng-show="isChecked && insured.unit==='1'&& myForm.insuredUnit.$invalid">
                    <small ng-show="myForm.insuredUnit.$error.required">
                        工作单位必填
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only"></label>
                <input class="form-control"  type="text" placeholder="请填写证件号" name="insuredCardNo" ng-model="insured.cardNo" />
                <div ng-show="!isChecked || !myForm.insuredCardNo.$invalid ">&nbsp;</div>
                <div class="alert-danger" ng-show="isChecked && insured.cardType==='1'&& myForm.insuredCardNo.$invalid">
                    <small ng-show="myForm.insuredCardNo.$error.required">
                        证件号码必填
                    </small>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <label class="sr-only"></label>
                <div class="input-group-btn">
                    <button  class="btn btn-default" data-toggle="dropdown">{{insured.cardType === '1'?'身份证':'护照'}}<span class="caret"></span></button>
                    <ul class="dropdown-menu"  role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" href="#" tabindex="-1" ng-click="insured.cardType='1'">身份证</a></li>
                        <li role="presentation"><a role="menuitem" href="#" tabindex="-1" ng-click="insured.cardType='2'">护照</a></li>
                    </ul>
                </div>
            </div>
            <div>
                &nbsp;
            </div>
        </div>
        <div class="form-group" >
            <div class="input-group">
                <div class="radio">
                    <label>
                        <input type="radio"  name="insuredGender" value="1" ng-model="insured.gender"> <span class="fa fa-male text-info"></span>
                    </label>
                    <label>
                        <input type="radio"  name="insuredGender" value="0" ng-model="insured.gender"> <span class="fa fa-female text-danger"></span>
                    </label>
                </div>
            </div>
            <div ng-show="!isChecked || !myForm.insuredGender.$invalid">&nbsp;</div>
            <div class="alert-danger" ng-show="isChecked && myForm.insuredGender.$invalid">
                <small ng-show="isChecked && myForm.insuredGender.$error.required">
                    请选择性别
                </small>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only"></label>
                <input class="form-control" type="date" name="insuredBirthday" ng-model="insured.birthday"  data-toggle="tooltip" title="请选择出生年月" tooltip="请填写出生年月"/>
            </div>
            <div ng-show="!isChecked || !myForm.insuredBirthday.$invalid">&nbsp;</div>
            <div  class="alert-danger" ng-show="isChecked && myForm.insuredBirthday.$invalid">
                <small  ng-show="isChecked && myForm.insuredBirthday.$error.required">
                    生日必填
                </small>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only"></label>
                <div class="input-group-btn">
                    <button  class="btn btn-default" data-toggle="dropdown">{{getRelationShipDescription(insured.relationShip)}}<span class="caret"></span></button>
                    <ul class="dropdown-menu"  role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" href="#" tabindex="-1" ng-click="insured.relationShip='0'">本人</a></li>
                        <li role="presentation"><a role="menuitem" href="#" tabindex="-1" ng-click="insured.relationShip='1'">法定</a></li>
                        <li role="presentation"><a role="menuitem" href="#" tabindex="-1" ng-click="insured.relationShip='2'">父子</a></li>
                    </ul>
                </div>

            </div>
            <div ng-show="!isChecked || !myForm.relationShip.$invalid">&nbsp;</div>
            <div  class="alert-danger" ng-show="isChecked && myForm.relationShip.$invalid">
                <small  ng-show="isChecked && myForm.relationShip.$error.required">
                    投被关系选择
                </small>
            </div>
        </div>
    </form>
</div>