.animate-hide {
    transition: all linear 0.5s;
    -webkit-transition: 0.1s linear all;
    opacity: 1;
    padding: 0px;
    line-height: 20px;
    background: white;

}

.animate-hide.ng-hide {
    line-height: 0;
    opacity: 0;
    padding: 0px 10px;
}

.animate-repeat {
    line-height:0px;
    list-style:none;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
    transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
    transition:all linear 0.5s;
    opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
    transition:all linear 0.5s;
    opacity:1;
}
