<div>
    <div>
        <div class="row" description="toggleBtnArea">
            <!--Toggle function to display the Group's Information including group index and each beneficiary's proportion-->
            <div class="col-md-10">
                <span ng-click="group.isToggled = !group.isToggled">
                    <span ng-class="group.isToggled?'glyphicon glyphicon-plus':'glyphicon glyphicon-minus'"/>
                </span>
                <span ng-hide="!group.isToggled" class="animate-hide">第{{index+1}}顺位
                    <span ng-repeat="title in group.rows">
                         <span ng-show="title.beneficiary.name && title.beneficiary.name !== ''" class="glyphicon glyphicon-user">
                            {{title.beneficiary.name}} {{title.beneficiary.proportion}}%
                         </span>
                    </span>
                <span ng-if="index === 0" class="glyphicon glyphicon-triangle-top" ng-class="'text-muted'"></span>
                    <span ng-if="index !== 0" ng-click="moveDesc(false, index)" class="glyphicon glyphicon-triangle-top" ng-class="'text-primary'"></span>
                    <span ng-if="index === (groupsLength - 1)" class="glyphicon glyphicon-triangle-bottom" ng-class="'text-muted'"></span>
                    <span ng-if="index !== (groupsLength - 1)" ng-click="moveDesc(true, index)" class="glyphicon glyphicon-triangle-bottom" ng-class="'text-primary'"></span>
                </span>
                <div class="bottom-line"></div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <!-- When toggled this block won't display otherwise will show the groups' details-->
        <div class="row" id="row_{{index}}" collapse="group.isToggled"  description="groupInfoArea">
            <div class="col-md-1 beneficiary-group-title">
                <h3>第{{index+1}}顺位</h3>
                <div class="beneficiary-group-action">
                    <span ng-if="index === 0" class="glyphicon glyphicon-triangle-top" ng-class="'text-muted'"></span>
                    <span ng-if="index !== 0" ng-click="moveDesc(false, index)" class="glyphicon glyphicon-triangle-top"
                          ng-class="'text-primary'"></span>
                </div>
                <div class="beneficiary-group-action">
                    <span ng-if="index === (groupsLength-1)" class="glyphicon glyphicon-triangle-bottom"
                          ng-class="'text-muted'"></span>
                    <span ng-if="index !== (groupsLength-1)" ng-click="moveDesc(true, index)"
                          class="glyphicon glyphicon-triangle-bottom" ng-class="'text-primary'"></span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row" description="actionTitleArea">
                    <div class="col-md-1">
                        <label>Action</label>
                    </div>
                    <div class="col-md-9">
                        <label>Personal Info.</label>
                    </div>
                    <div class="col-md-2">
                        <label>Benefit Ratio</label>
                        <span ng-model="group.isAver" ng-click="group.isAver = !group.isAver;average()"
                              ng-class="group.isAver?'glyphicon glyphicon-check':'glyphicon glyphicon-unchecked'"></span>
                        <button type="button" ng-click="average()" ng-show="!group.isAver" class="btn btn-xs">
                            <span>AVG</span>
                        </button>
                    </div>
                </div>
                <div ng-repeat="rowContent in group.rows" class="animate-repeat">
                    <div class="row">
                        <div class="bottom-line"></div>
                    </div>
                    <div class="row">
                        <!--Directive to iterate beneficiaries start -->
                        <beneficiary-info index="$index" save-beneficiary="saveBeneficiary($index)"
                                     add-beneficiary="addBeneficiary($index)"
                                     delete-beneficiary="removeBeneficiary($index)" rows-length="group.rows.length"
                                     groups-length="groupsLength" group-index="index" row-content="rowContent"
                                     proportion-rest="proportionRest"></beneficiary-info>
                        <!--Directive to iterate beneficiaries end -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-1 add-beneficiary">
                        <a ng-click="addBeneficiary()" title="新增受益人">
                            <i class="fa fa-user-plus fa-2x"></i>
                        </a>
                    </div>
                </div>
                <br/>
                <div class="row">
                    <br/>
                </div>
            </div>
        </div>
    </div>
</div>