<div class="form-inline">
    <form name="myForm">
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only"></label>
                <input class="form-control" placeholder="请填写姓名：" type="text" name="applyName" ng-model="apply.name"  />
                <div ng-show="!isChecked || !myForm.applyName.$invalid">&nbsp;</div>
                <div class="alert-danger" ng-show="isChecked && myForm.applyName.$invalid">
                    <small  ng-show="myForm.applyName.$error.required">
                        姓名必填
                    </small>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only"></label>
                <input class="form-control"  type="text" placeholder="请填写证件号" name="applyCardNo" ng-model="apply.cardNo" />
                <div ng-show="!isChecked || !myForm.applyCardNo.$invalid ">&nbsp;</div>
                <div class="alert-danger" ng-show="isChecked && apply.cardType==='1'&& myForm.applyCardNo.$invalid">
                    <small ng-show="myForm.applyCardNo.$error.required">
                        证件号码必填
                    </small>

                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only"></label>
                <div class="input-group-btn">
                    <button  class="btn btn-default" data-toggle="dropdown">{{apply.cardType === '1'?'身份证':'护照'}}<span class="caret"></span></button>
                    <ul class="dropdown-menu"  role="menu" aria-labelledby="menu1">
                        <li role="presentation"><a role="menuitem" href="#" tabindex="-1" ng-click="apply.cardType='1'">身份证</a></li>
                        <li role="presentation"><a role="menuitem" href="#" tabindex="-1" ng-click="apply.cardType='2'">护照</a></li>
                    </ul>
                </div>
            </div>
            <div>
                &nbsp;
            </div>
        </div>
        <div class="form-group" >
            <div class="input-group">
                <div class="radio">
                    <label>
                        <input type="radio"  name="applyGender" value="1" ng-model="apply.gender"> <span class="fa fa-male text-info"></span>
                    </label>
                    <label>
                        <input type="radio"  name="applyGender" value="0" ng-model="apply.gender"> <span class="fa fa-female text-danger"></span>
                    </label>
                </div>
            </div>
            <div ng-show="!isChecked || !myForm.applyGender.$invalid">&nbsp;</div>
            <div class="alert-danger" ng-show="isChecked && myForm.applyGender.$invalid">
                <small ng-show="isChecked && myForm.applyGender.$error.required">
                    请选择性别
                </small>
            </div>
        </div>
        <div class="form-group">
            <div class="input-group">
                <label class="sr-only"></label>
                <input class="form-control" type="date" name="applyBirthday" ng-model="apply.birthday"  data-toggle="tooltip" title="请选择出生年月" tooltip="请填写出生年月"/>
                <div ng-show="!isChecked || !myForm.applyBirthday.$invalid">&nbsp;</div>
                <div  class="alert-danger" ng-show="isChecked && myForm.applyBirthday.$invalid">
                    <small  ng-show="isChecked && myForm.applyBirthday.$error.required">
                        生日必填
                    </small>
                </div>
            </div>
        </div>
    </form>
</div>