<div id="apply" class="container-fluid">
    <div class="row" description="applyTitle">
        <div class="col-md-12">
            <h4>投保人信息</h4>
            <div class="title-line"></div>
        </div>
    </div>
    <div class="row" description="applyHead">
        <div class="col-md-12">
            <label>Basic Info</label>
        </div>
    </div>
    <div class="row" description="apply">
        <!--投保人指令-->
        <div class="col-md-12">
            <apply-info></apply-info>
        </div>
    </div>
    <div class="row" description="applyHead">
        <div class="col-md-12">
            <label>Ext Info</label>
        </div>
    </div>
    <div class="row" description="insuredTitle">
        <div class="col-md-12">
            <h4>被保人信息</h4>
            <div class="title-line"></div>
        </div>
    </div>
    <div class="row" description="insuredHead">
        <div class="col-md-1">
            <label>Action</label>
        </div>
        <div class="col-md-11">
            <label>Personal Info.</label>
        </div>
    </div>
    <div class="row" description="insured">
        <!--被保人指令-->
        <div ng-repeat="insured in insuredGroup" class="animate-repeat">

            <div class="col-md-1"><button  ng-click="addInsured($index)"> <i class="fa fa-user-plus fa-1x"></i></button>
                <button ng-show="insuredGroup.length > 1" ng-click="removeInsured($index)"><i class="fa fa-user-times fa-1x"></i></button></div>
            <div class="col-md-11">
                <insured-info insured="insured" ></insured-info>
            </div>
        </div>
    </div>
    <div class="row" description="premium">
        <!--保费指令-->
        <div class="col-md-12">
            <h4>保费信息</h4>
            <div class="title-line"></div>
            <premium-info></premium-info>
        </div>
    </div>
</div>