<div id="apply" class="container-fluid">
    <div class="row" description="applyTitle">
        <div class="col-md-12">
            <h4>投保人信息</h4>
            <div class="title-line"></div>
        </div>
    </div>
    <div class="row" description="applyHead">
        <div class="col-md-12">
            <label>Basic Info</label>
        </div>
    </div>
    <div class="row" description="apply">
        <!--投保人指令-->
        <div class="col-md-12">
            <apply-info></apply-info>
        </div>
    </div>

    <div class="row" description="insuredTitle">
        <div class="col-md-12">
            <h4>被保人信息</h4>
            <div class="title-line"></div>
        </div>
    </div>
    <div class="row" description="insuredHead">
        <div class="col-md-1">
            <label>Action</label>
        </div>
        <div class="col-md-11">
            <label>Personal Info.</label>
        </div>
    </div>
    <div class="row" description="insured">
        <!--被保人指令-->
        <div ng-repeat="insured in insuredGroup" class="animate-repeat">

            <div class="col-md-1"><button  ng-click="addInsured($index)"> <i class="fa fa-user-plus fa-1x"></i></button>
                <button ng-show="insuredGroup.length > 1" ng-click="removeInsured($index)"><i class="fa fa-user-times fa-1x"></i></button></div>
            <div class="col-md-11">
                <insured-info insured="insured" ></insured-info>
            </div>
        </div>
    </div>
    <div class="row" description="premium">
        <!--保费指令-->
        <div class="col-md-12">
            <h4>保费缴纳</h4>
            <div class="title-line"></div>
            <div class="row">
                <div class="col-md-1">
                    <label>Action</label>
                    <div><span><button type="button" ng-click="checked=false" data-toggle="modal" data-target="#configModal"><i class="fa fa-cog"></i></button></span>
                    <span><button type="button" ng-click="checked=true" ><i class="fa fa-cog"></i></button></span></div>
                </div>
                <div class="col-md-11">
                    <premium-info term-config="termConfig"></premium-info>
                </div>
            </div>
        </div>
    </div>
    <div id="configModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">缴费期间配置选项</h4>
                </div>
                <div class="modal-body">
                    <apply-term-config term-config="termConfig"></apply-term-config>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" ng-click="confirmation()" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <pageslide ps-open="checked" ps-speed="1">
        <div style="padding:20px" id="demo-right">
            <apply-term-config term-config="termConfig"></apply-term-config>
            <button type="button" class="btn btn-default" ng-click="checked = false">关闭</button>
        </div>
    </pageslide>
</div>