<div class="nav-bar">
	<div class="start">
		<a href="#" class="start-menu" id="full" toggle=".menu" toggle-speed="300"><i class="fa fa-bars"></i></a>
	</div>
	<div class="nav-apps" hide=".menu" hide-speed="300">
		<div ng-repeat="app in navApps track by $index" class="open-app app-{{app.id}}" ng-class="{'selected': app.isSelected}" ng-click="tocApp($index)" first-windows="#{{app.id}}" toggle="#{{app.id}}" toggle-speed="300">
			<i class="fa" ng-class="app.icon"></i>
			<span class="title">{{app.title}}</span>
		</div>
	</div>
	<div class="clock">
		<ul>
			<li id="hours"></li>
			<li id="point">:</li>
			<li id="min"></li>
			<li id="point">:</li>
			<li id="sec"></li>
		</ul>
		<div id="Date"></div>
	</div>
</div>
<div class="menu">
	<div class="submenu">
		<ul>
			<li ng-repeat="item in subMenuItems track by $index"><a href="#" ng-click="openApp(item.id, item.title, item.page, item.icon)" hide=".menu" hide-speed="300"><i class="fa" ng-class="item.icon"></i></a></li>
		</ul>
	</div>
</div>
<div class="content" hide=".menu" hide-speed="300" sortable=".app-icon">
	<div class="col-desktop">
		<div class="app-icon blue" hide=".menu" hide-speed="300">
			<a href="#" ng-dblclick="openApp('settings', 'Settings', 'settings.html', 'fa-cogs', 800, 700, false)">
				<i class="fa fa-cogs"></i>
				Settings
			</a>
		</div>
		<div class="app-icon red" hide=".menu" hide-speed="300">
			<a href="#" ng-dblclick="openApp('users', 'Users', 'users.html', 'fa-users')">
				<i class="fa fa-users"></i>
				Users
			</a>
		</div>
	</div>
	<div class="col-desktop">
		<div class="app-icon green">
			<a href="#" ng-dblclick="openApp('time', 'Time Preferences', 'clock.php', 'fa-clock-o')">
				<i class="fa fa-clock-o"></i>
				Time
			</a>
		</div>
	</div>
	<div ng-repeat="app in navApps track by $index" class="window ui-widget-content ui-draggable" id="{{app.id}}" draggable-in=".content" ng-click="tocApp($index, true)" first-windows="#{{app.id}}">
		<div class="header">
			<div class="title">
				<h5>
					<i class="fa" ng-class="app.icon"></i>
					{{app.title}}
				</h5>
			</div>
			<div class="move"></div>
			<div class="action">
				<a href="#" class="minus" ng-click="minWindows(app.id)">
					<i class="fa fa-minus"></i>
				</a>
				<a href="#" class="max" ng-click="maxWindows(app.id)">
					<i class="fa fa-plus"></i>
				</a>
				<a href="#" class="closer" ng-click="closeWindows($index)">
					<i class="fa fa-times"></i>
				</a>
			</div>
		</div>
		<div class="window-content-{{app.id}}">
			<div ui-view="windowContent@"></div>
		</div>
	</div>
</div>