<div class="login">
	<img src="images/profile.jpg" alt="..." class="img-circle photo-user" toggle=".login-form" toggle-speed="slow">
	<div class="login-form">
		<form action="desktop.html">
			<div class="input-group">
				<input class="form-control" placeholder="Username" type="text">
				<span class="input-group-addon">
					<i class="fa fa-user"></i>
				</span>
			</div>
			<div class="input-group">
				<input class="form-control" placeholder="Password" type="password">
				<span class="input-group-addon">
					<i class="fa fa-key"></i>
				</span>
			</div>
		</form>
	</div>
</div>